services:

  nginx:
    build: ./nginx
    ports:
      - 80:80
    restart: always
      
  api:
    build: ./backend
    volumes: 
      - logs:/app/logs


  client:
    build: ./frontend
    depends_on: 
      - api

  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: hola
      MONGO_INITDB_ROOT_PASSWORD: hola123
      MONGO_INITDB_DATABASE: appdb


volumes: 
  logs: